// @media (min-width: 768px){
// }
// @media (max-width: 767px){
// }

.github-coloritem {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  background: #3178c6;
}
.github-coloritem--yellow {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  background: #f1e05a;
}
.github-coloritem--white {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  background: #ededed;
}
