// @media (min-width: 768px){
// }
// @media (max-width: 767px){
// }

.github-coloritem--typescript {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  background: #3178c6;
}
.github-coloritem--javascript {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  background: #f1e05a;
}
.github-coloritem--scss {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  background: #c6538c;
}
.github-coloritem--css {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  background: #563d7c;
}
.github-coloritem--html {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  background: #e34c26;
}
.github-coloritem--other{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  background: white;
}
