name: AWS EC2へのCI/CDテスト

on:
  push:
  # ブランチにプッシュまたはプルリクしたら発動
    branches: [ "main" ]

env:
  # AWS_REGION: ap-northeast-1                   # set this to your preferred AWS region, e.g. us-west-1
  # ECR_REPOSITORY: MY_ECR_REPOSITORY           # set this to your Amazon ECR repository name
  # ECS_SERVICE: MY_ECS_SERVICE                 # set this to your Amazon ECS service name
  # ECS_CLUSTER: MY_ECS_CLUSTER                 # set this to your Amazon ECS cluster name
  # ECS_TASK_DEFINITION: MY_ECS_TASK_DEFINITION # set this to the path to your Amazon ECS task definition
  #                                              # file, e.g. .aws/task-definition.json
  # CONTAINER_NAME: MY_CONTAINER_NAME           # set this to the name of the container in the
                                              

#このWorkflowにおける secrets.GITHUB_TOKEN は リポジトリの読み取りを許可するという意味になります。
permissions:
  contents: read
  id-token: write 

# ワークフローの実行処理
jobs:
  build:
# ジョブが実行されるランナー(仮想デバイス)の種類（Linuxはこれ）
    runs-on: ubuntu-latest

# ジョブのステップ
steps:
    # IP取得ライブラリをインストール
  - name: Public IP
    id: ip
    uses: haythem/public-ip@v1.2



